doctype html
html
  head
   title Nueva Categoria
  body
   form(action="/categories" method="POST")
     input(type="text" name="title" placeholder="Título categoria")
     br
     input(type="color" name="color")
     br
     input(type="submit" value="Guardar")
